body {
    padding-top: 70px
}

chart {
    display: block;
}

.scenario-tag {
    margin-left: 5px;
}

.row-top-margin {
    margin-top: 10px;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.loader > .content {
    position: absolute;
    left: 51%;
    top: 50%;
    margin: -32px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}