<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a routerLink="/execution/summary" class="navbar-brand" href="/execution/summary">Metrics Viewer</a>
        <ul class="nav navbar-nav">
            <li class="nav-item" style="cursor: hand;" routerLink="/execution/summary" routerLinkActive="active">
                <a class="nav-link">Executions</a>
            </li>
            <li class="nav-item" style="cursor: hand;" routerLink="/comparison" routerLinkActive="active">
                <a class="nav-link">Comparison</a>
            </li>
            <li class="nav-item" style="cursor: hand;" routerLink="/trends/execution" routerLinkActive="active">
                <a class="nav-link">Execution trends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/download/metrics-viewer-client-package.tar.gz">Client package</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<cool-loading-indicator [indicatorDelay]="200">
    <div class="loader">
        <div class="content"></div>
    </div>
</cool-loading-indicator>
