<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <label>Tags</label>
            <auto-complete [multiple]="true"
                           [(selectedData)]="comparisonFilter.tags"
                           [autoCompleteProvider]="tagsAutoCompleteProvider">
            </auto-complete>
        </div>
        <div class="col-xs-4">
            <label>Executions</label>
            <auto-complete [multiple]="true"
                           [(selectedData)]="comparisonFilter.executions"
                           [autoCompleteProvider]="executionsAutoCompleteProvider">
            </auto-complete>
        </div>
        <div class="col-xs-4">
            <label>Scenarios</label>
            <auto-complete [multiple]="true"
                           [(selectedData)]="comparisonFilter.scenarios"
                           [autoCompleteProvider]="scenariosAutoCompleteProvider">
            </auto-complete>
        </div>
    </div>
    <div class="row row-top-margin">
        <div class="col-xs-6">
            <label for="timeFrom">Start time</label>
            <input class="form-control" id="timeFrom" type="datetime-local" [(ngModel)]="comparisonFilter.timeFrom">
        </div>
        <div class="col-xs-6">
            <label for="timeTo">End time</label>
            <input class="form-control" id="timeTo" type="datetime-local" [(ngModel)]="comparisonFilter.timeTo">
        </div>
    </div>
    <div class="row row-top-margin">
        <div class="col-md-2 offset-md-5">
            <button type="button" class="btn btn-primary btn-sm btn-block" (click)="loadCharts()">Load charts</button>
        </div>
    </div>

    <div *ngIf="chartsResult.lineCharts.length > 0" class="row-top-margin">
        <div class="col-md-6" *ngFor="let chart of chartsResult.lineCharts">
            <line-chart [chart]="chart"></line-chart>
        </div>
    </div>

    <div *ngIf="chartsResult.columnCharts.length > 0" class="row-top-margin">
        <div class="col-md-12" *ngFor="let chart of chartsResult.columnCharts">
            <column-chart [chart]="chart"></column-chart>
        </div>
    </div>

    <div *ngIf="chartsResult.lineCharts.length == 0 && chartsResult.columnCharts.length == 0"
         class="alert alert-warning row-top-margin" role="alert">
        No charts available for selected filter...
    </div>

</div>