<div class="row">
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>
    <div class="col-sm-4">
        <div class="sidebar-module">
            <h4>Executions list</h4>
            <div *ngIf="executionsInfo?.length > 0">
                <ol class="list-unstyled">
                    <li *ngFor="let executionInfo of executionsInfo">
                        <a routerLink="/execution/summary/{{executionInfo.id}}"
                           href="/execution/summary/{{executionInfo.id}}">
                            {{executionInfo.name}}
                            ({{executionInfo.startTimeUtc | date:'medium'}})
                        </a>
                    </li>
                </ol>

                <nav *ngIf="page" aria-label="Page navigation example" style="text-align: center;">
                    <div>Page {{page.number + 1}} of {{page.totalPages}}</div>
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="page.first"><a class="page-link" (click)="prevPage()" style="cursor: hand">Previous</a></li>
                        <li class="page-item" [class.disabled]="page.last"><a class="page-link" (click)="nextPage()" style="cursor: hand">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div *ngIf="!(executionsInfo?.length > 0)" class="alert alert-warning row-top-margin" role="alert">
                No executions available
            </div>
        </div>
    </div>
</div>