<div *ngIf="executionSummary">
    <h2>Execution summary</h2>
    <h4>{{executionSummary.name}} (started at {{executionSummary.startTimeUtc | date: "medium"}})</h4>
    <h6>Hostname: {{executionSummary.hostname}}</h6>

    <div style="margin-top: 15px;" *ngIf="executionSummary.scenarios">
        <h5>Scenarios summary</h5>
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card" *ngFor="let scenario of executionSummary.scenarios; let i = index">
                <div class="card-header" role="tab" [attr.id]="getScenarioSummaryHeadingId(i)">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#scenarioSummaryCollapse{{i}}"
                           aria-expanded="false" [attr.aria-controls]="getScenarioSummaryContentId(i)">
                            {{scenario.name}}
                        </a>
                        <span>(Run on {{scenario.hostname}})</span>
                        <span *ngFor="let tag of scenario.tags" class="tag tag-danger scenario-tag">{{tag}}</span>
                        <a style="float: right;" routerLink="/scenariosDetails/{{executionSummary.id}}/{{scenario.id}}">
                            details
                        </a>
                    </h5>
                </div>

                <div [attr.id]="getScenarioSummaryContentId(i)" class="collapse" role="tabpanel"
                     [attr.aria-labelledby]="getScenarioSummaryHeadingId(i)">
                    <div *ngIf="scenario.summary.length > 0" class="card-block">
                        <p *ngFor="let summaryItem of scenario.summary">
                            <strong>{{summaryItem.key}}: </strong> {{summaryItem.value}} {{summaryItem.unit}}
                        </p>
                    </div>
                    <div *ngIf="scenario.summary.length == 0" class="card-block">
                        <strong>No summaries for this scenario</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!executionSummary" class="alert alert-warning row-top-margin" role="alert">
    No execution found
</div>