<div class="row">
    <div class="col-sm-9">
        <a routerLink="/execution/summary/{{executionId}}">&lt; Go back</a>
        <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
        <div class="sidebar-module">
            <h4>Execution scenarios</h4>
            <ol class="list-unstyled">
                <li *ngFor="let scenarioInfo of scenariosInfo">
                    <a routerLink="/scenariosDetails/{{executionId}}/{{scenarioInfo.id}}">{{scenarioInfo.name}}</a>
                </li>
            </ol>
        </div>
    </div>
</div>