<div class="row-top-margin" *ngIf="scenarioDetails">
    <h3>Name: {{scenarioDetails.name}}</h3>

    <div class="col-md-6" *ngFor="let chart of scenarioDetails.lineCharts">
        <line-chart [chart]="chart" [showLegend]="false"></line-chart>
    </div>
</div>