<div class="container">
    <div *ngIf="chartsResult.lineCharts.length > 0" class="row-top-margin">
        <div class="col-md-6" *ngFor="let chart of chartsResult.lineCharts">
            <line-chart [chart]="chart" [showLegend]="false"></line-chart>
        </div>
    </div>

    <div *ngIf="chartsResult.lineCharts.length == 0" class="alert alert-warning row-top-margin" role="alert">
        There are no executions available...
    </div>
</div>
